In [4]:
import numpy as np
import pandas as pd
pd.__version__

'2.3.1'

In [5]:
pd?

Type:        module
String form: <module 'pandas' from 'C:\\Users\\HP\\miniconda3\\Lib\\site-packages\\pandas\\__init__.py'>
File:        c:\users\hp\miniconda3\lib\site-packages\pandas\__init__.py
Docstring:
pandas - a powerful data analysis and manipulation library for Python
=====================================================================

**pandas** is a Python package providing fast, flexible, and expressive data
structures designed to make working with "relational" or "labeled" data both
easy and intuitive. It aims to be the fundamental high-level building block for
doing practical, **real world** data analysis in Python. Additionally, it has
the broader goal of becoming **the most powerful and flexible open source data
analysis / manipulation tool available in any language**. It is already well on
its way toward this goal.

Main Features
-------------
Here are just a few of the things that pandas does well:

  - Easy handling of missing data in floating point as well as non-floating
    point data.
  - Size mutability: columns can be inserted and deleted from DataFrame and
    higher dimensional objects
  - Automatic and explicit data alignment: objects can be explicitly aligned
    to a set of labels, or the user can simply ignore the labels and let
    `Series`, `DataFrame`, etc. automatically align the data for you in
    computations.
  - Powerful, flexible group by functionality to perform split-apply-combine
    operations on data sets, for both aggregating and transforming data.
  - Make it easy to convert ragged, differently-indexed data in other Python
    and NumPy data structures into DataFrame objects.
  - Intelligent label-based slicing, fancy indexing, and subsetting of large
    data sets.
  - Intuitive merging and joining data sets.
  - Flexible reshaping and pivoting of data sets.
  - Hierarchical labeling of axes (possible to have multiple labels per tick).
  - Robust IO tools for loading data from flat files (CSV and delimited),
    Excel files, databases, and saving/loading data from the ultrafast HDF5
    format.
  - Time series-specific functionality: date range generation and frequency
    conversion, moving window statistics, date shifting and lagging.

In [6]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [7]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [8]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
data[1]

np.float64(0.5)

In [10]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [11]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [12]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [15]:
population_dict = {'California': 39538223, 'Texas': 29145505,
                   'Florida': 21538187, 'New York': 20201249,
                   'Pennysylvania': 13002700}
population = pd.Series(population_dict)
population

California       39538223
Texas            29145505
Florida          21538187
New York         20201249
Pennysylvania    13002700
dtype: int64

In [16]:
population['California']

np.int64(39538223)

In [18]:
population['California': 'Florida']

California    39538223
Texas         29145505
Florida       21538187
dtype: int64

In [20]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [21]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [24]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [25]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[1, 2])

1    b
2    a
dtype: object

In [30]:
area_dict = {'California': 423967, 'Texas': 695662, 'Florida': 170312,
             'New York': 141297, 'Pennysylvania': 119280}
area = pd.Series(area_dict)
area

California       423967
Texas            695662
Florida          170312
New York         141297
Pennysylvania    119280
dtype: int64

In [31]:
states = pd.DataFrame({'population': population,
                      'area': area})
states

               population    area
California       39538223  423967
Texas            29145505  695662
Florida          21538187  170312
New York         20201249  141297
Pennysylvania    13002700  119280

In [32]:
states.index

Index(['California', 'Texas', 'Florida', 'New York', 'Pennysylvania'], dtype='object')

In [33]:
states.columns

Index(['population', 'area'], dtype='object')

In [34]:
states['area']

California       423967
Texas            695662
Florida          170312
New York         141297
Pennysylvania    119280
Name: area, dtype: int64

In [35]:
pd.DataFrame(population, columns=['population'])

               population
California       39538223
Texas            29145505
Florida          21538187
New York         20201249
Pennysylvania    13002700

In [36]:
data = [{'a': i, 'b': 2*i}
        for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [37]:
pd.DataFrame({'population': population,
              'area': area})

               population    area
California       39538223  423967
Texas            29145505  695662
Florida          21538187  170312
New York         20201249  141297
Pennysylvania    13002700  119280

In [38]:
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

        foo       bar
a  0.851054  0.751852
b  0.835747  0.045994
c  0.524192  0.189279

In [40]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [41]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [42]:
ind = pd.Index([2,3, 5, 7, 11])
ind

Index([2, 3, 5, 7, 11], dtype='int64')

In [43]:
ind[1]

np.int64(3)

In [44]:
ind[::2]

Index([2, 5, 11], dtype='int64')

In [45]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [46]:
ind[1] = 0

TypeError: Index does not support mutable operations

In [47]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

indA.intersection(indB)

Index([3, 5, 7], dtype='int64')

In [48]:
indA.union(indB)

Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [49]:
indA.symmetric_difference(indB)

Index([1, 2, 9, 11], dtype='int64')